@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <h1 class="navbar-brand">About Ipsum Outlet!</h1>
</div>

<div>
    <h3>Our Mission</h3>
    <p>Ipsum Outlet was founded on a core value of sustainability. For that reason, all equipment and articles are gathered from ocean pollutants. Using our propietary refinement and reinforcement process, we can provide high-quality training gear and swimwear.</p>
    <h3>Our Team</h3>
    <p>lorem ipsum</p>
</div>